# Core framework
fastapi==0.115.12
uvicorn==0.34.3
fastapi-cli==0.0.7

# Database
SQLAlchemy==2.0.41
psycopg2-binary==2.9.10
alembic==1.16.1
redis==6.2.0

# Validation & env
pydantic==2.11.5
python-dotenv==1.1.0

# HTTP client for tests or internal calls (e.g. to NLP service)
httpx==0.28.1